@model IEnumerable<OdinXSiteMVC2.Data.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">

    @foreach (var item in Model) {

        if (item.profilePic == null) {
            item.profilePic = "../../Assets/Pic/defaultPic.jpg";
        }

    <div class="admin-profile">
        <img class="admin-pic" src="@item.profilePic">
        <div class="admin-name">
            @Html.DisplayFor(modelItem => item.firstName) "@Html.DisplayFor(modelItem => item.gamerTag)" @Html.DisplayFor(modelItem => item.lastName)
        </div>
        <div class="admin-buttons">
            <a class="badge rounded-pill bg-warning text-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="badge rounded-pill bg-warning text-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
            <a class="badge rounded-pill bg-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
        
    </div>
            
}

</div>


